@import '../../assets/css/variables.scss';

.ShortenBar {
  display: flex;

  input[type="text"] {
    -webkit-appearance: none;
    border: 1px solid white;
    outline: none;
    display: block;
    font-size: 1.1rem;
    padding: 1.2rem 1.5rem;
    border-radius: 3px;
    flex: 1 1 auto;
    margin-right: -0.5rem;

    &:focus {
      border: 1px solid orange;
    }
  }

  button {
    display: block;
    border-radius: 0 3px 3px 0;
    font-size: 0.8rem;
    padding: 1.2rem 0;
    border: 0;
    text-transform: uppercase;
    background-color: $orange;
    color: white;
    flex: 0 1 6rem;
    cursor: pointer;
  }
}
