@import '../../assets/css/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;;
  color: #333;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: uppercase;
  font-size: 2.7rem;
  margin: 0 0 1rem;
}

header {
  padding: 2rem 2rem 10rem;
  background: url('../../assets/images/background-image.png') no-repeat top left;
  background-size: cover;
}

nav {
  display: inline-block;

  a {
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.App-header {
  text-align: center;
  color: white;
  font-size: 1.15rem;
  max-width: 50rem;
  margin: 10rem auto 2rem; /* 5rem for mobile */

  p {
    margin: 0 0 3rem;
  }
}

.main-wrapper {
  margin: -10rem auto 2rem;
  padding: 0 2rem;
}

main {
  max-width: 50rem;
  background: white;
  margin: 0 auto;
  padding: 0 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  border-radius: 3px;
}
