@import '@/assets/css/variables.scss';
@import '@/assets/css/media.scss';

/* local variables */
$max-content-width: 50rem;
$layout-padding: 2rem;
$overlap-size: 10rem;


section {
  display: block; /* IE fix */
  padding: $layout-padding $layout-padding $overlap-size;
  background: url('../../assets/images/bg.png') no-repeat top left;
  background-size: cover;
}

main {
  display: block; /* IE fix */
  padding: $layout-padding $layout-padding 5rem;
  margin-top: - $overlap-size;
}

.App__form-wrapper {
  text-align: center;
  color: white;
  font-size: 1.15rem;
  max-width: $max-content-width;
  margin: 5rem auto 0;

  @include mindesktop {
    margin-top: 8rem;
  }

  p {
    margin: 0 0 3rem;
    letter-spacing: 1px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 0 1rem;
    letter-spacing: 2px;

    @include mindesktop {
      font-size: 2.7rem;
    }
  }
}

.App__content-wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
}
