/************************************/
/******** Shared Variables **********/
/************************************/

// Colors
$orange: #ee6123;
$dark-grey: #444444;
$light-grey: #9b9b9b;


// Spacing
$inner-padding: 2rem;


// Decorations
$border-radius: 3px;
$grey-line: 1px solid #ccc;