@import '@/assets/css/variables.scss';

$icon-size: 30px;

.Bitlink {
  padding: 2rem 0;
  overflow: hidden;
  font-size: 0.8rem;

  h3 {
    margin: 0 0 0.3rem;
    color: $dark-grey;

    a {
      color: inherit;
    }
  }

  a {
    word-break: break-all;
    color: $light-grey;

    &:hover {
      text-decoration: underline;
    }
  }

  &__details {
    margin-top: 2rem;
    display: flex;

    & > span {
      flex: 1 1 auto;
    }
  }

  &__shorten-link {
    color: $orange;
    cursor: copy;
  }

  &__counter {
    text-align: right;
    color: $light-grey;
    background: url('../../assets/images/click-icon.svg') no-repeat bottom right;
    background-size: $icon-size auto;
    padding-right: $icon-size + 5;
  }
}
